<!--Nav-->
<nav id="header" class="w-full z-30 top-0 text-white">

  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">

    <div class="pl-4 pt-2 flex items-center">
      <a class="titulo no-underline text-cool-gray-800 hover:no-underline font-bold text-xl lg:text-2xl"  href="/">
         {{site.title}}
			</a>
    </div>

    <div class="block lg:hidden pr-4">
      <button id="nav-toggle" class="flex items-center">
        <div id="hamburguesa">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20 text-center toggle-content lg:visible" id="nav-content">
      <ul class="list-reset lg:flex justify-center flex items-center">
        {% for item in navigation.main %}
          <li class="mr-3 text-center">
            <a {% if item.external %}rel="external" {% endif %} href="{{ item.url | safe }}" 
              class="inline-block py-2 px-4 text-black hover:text-gray-800 hover:underline  {% if page.url == item.url %} font-bold no-underline {% endif %}" 
              {% if page.url == item.url %} aria-current="page" {% endif %}>{{item.title}}</a>
          </li>
        {% endfor %}
      </ul>
      {% if navigation.cta %}
      <a {% if item.external %}rel="external" {% endif %} href="{{navigation.cta.url  | safe  }}" class="mx-auto lg:mx-0 hover:underline bg-indigo-400 font-bold rounded-full mt-2 lg:mt-0 py-4 px-8 shadow opacity-75 block">{{navigation.cta.title  }}</a>
      {% endif %}
    </div>
  </div>

  <hr class="border-b border-gray-100 opacity-25 my-0 py-0"/>
</nav>