---
layout: layouts/base.njk
title: ¿Buscas mi perfil?
description: "Te explico por qué soy una buena elección"
---

<section class="my-auto body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">
      Si buscas un polivalente desarrollador Java, estaba esperándote.
      </h1>
      <p class="leading-relaxed mt-4">
      Tengo gran capacidad de abstracción. Me siento a gusto trabajando en equipo y participando en proyectos retadores.
      Ganarás una pieza clave en el equipo de desarrollo de cualquier producto debido a la implicación e ilusión que ofrezco en cada desarrollo.
      Tan solo ponte en contacto conmigo rellenando el formulario si estás interesado en mi perfil o háblame por linkedIn si lo prefieres.
      Escucho cualquier sugerencia, comentario o negociación que pueda surgir.
      </p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <!--
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
      <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Full Name" type="text">
      <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Email" type="email">
      -->
      <form action="{{ navigation.cont.url | safe }}">
        <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
        Contacta conmigo
        </button>
      </form>
      <!--
      <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
      -->
    </div>
  </div>
</section>